{% extends 'uniMarcaBundle::layout.html.twig' %}

{% block central -%}
    <h1>anuncios</h1>

    <table class="record_properties">
        <tbody>
            <tr>
                <th>Id</th>
                <td>{{ entity.id }}</td>
            </tr>
            <tr>
                <th>Nombre</th>
                <td>{{ entity.nombre }}</td>
            </tr>
            <tr>
                <th>Texto</th>
                <td>{{ entity.texto }}</td>
            </tr>
            <tr>
                <th>Compania</th>
                <td>{{ entity.compania }}</td>
            </tr>
        </tbody>
    </table>
    
             <div class="LineaFormulario">
            <h3 class="izquierda separarIzq20">Noticias esponsorizadas</h3>
        </div>
            
            {% for notic in entity.noticiass %}
        <div class="LineaFormulario">
                      
            <a href="{{ path('noticias_show', { 'id': notic.id }) }}">{{ notic.titulo }}</a>
               
        </div>
        {% endfor %}

        <ul class="record_actions">
    <li>
        <a href="{{ path('anuncios') }}">
            Back to the list
        </a>
    </li>
    <li>
        <a href="{{ path('anuncios_edit', { 'id': entity.id }) }}">
            Edit
        </a>
    </li>
    <li>{{ form(delete_form) }}</li>
</ul>
{% endblock %}
