{% extends 'uniMarcaBundle::layout.html.twig' %}

{% block central %}
    <h1>comentarios</h1>

    <table class="record_properties">
        <tbody>
            
            <tr>
                <th>Titulo</th>
                <td>{{ entity.tit }}</td>
            </tr>
            <tr>
                <th>Descripcion</th>
                <td>{{ entity.descrip }}</td>
            </tr>
            <tr>
                <th>Nick</th>
                <td>{{ entity.nick }}</td>
            </tr>
            <tr>
                <th>Fecha</th>
                <td>{{ entity.fecha|date('Y-m-d') }}</td>
            </tr>
           
        </tbody>
    </table>
    <div class="LineaFormulario">
       <h3 class="textoizq separarIzq20">Noticia comentada</h3>
       <p class="negrita">{{entity.noticia.autor}} {{ entity.noticia.fechaPub|date('Y/m/d') }} - {{ entity.noticia.titulo }}</p>      
       <p>{{ entity.noticia.contenido }}</p>
   </div>

   <div class="LineaFormulario">
        <ul class="record_actions">
            <li>
                <a href="{{ path('comentarios') }}">
                    Back to the list
                </a>
            </li>
            <li>
                <a href="{{ path('comentarios_edit', { 'id': entity.id }) }}">
                    Edit
                </a>
            </li>
            <li>{{ form(delete_form) }}</li>
        </ul>
   </div>
{% endblock %}
