{% extends 'uniMarcaBundle::layout.html.twig' %}

{% block central %}
    <h1>noticias edit</h1>

    {#{{ form(edit_form) }}#}
    
{{ form_start(edit_form) }}
    {{ form_errors(edit_form) }}

    <div class="LineaFormulario">
        {#{{ form_label(edit_form.titulo, {'attr': {'class': 'task_field'}}) }}#}
        {#{{ form_errors(edit_form.titulo) }}#}
       {# {{ form_widget(edit_form.titulo, {'attr': {'class': 'task_field'}}) }} #}      
       {{ form_label(edit_form.titulo) }}
        {#{{ form_errors(edit_form.titulo) }}#}
       {{ form_widget(edit_form.titulo) }}
    </div>

    <div class="LineaFormulario">
        {{ form_label(edit_form.contenido) }}
        {#{{ form_errors(edit_form.contenido) }}#}
        {{ form_widget(edit_form.contenido) }}
    </div>

    <div class="LineaFormulario">
        {#{{ form_widget(edit_form.save) }}#}
    </div>

{{ form_end(edit_form) }}
    
    {#{{ form_widget(form.task, {'attr': {'class': 'task_field'}}) }}#}

        <ul">
            <li>
                <a href="{{ path('noticias') }}">
                    Volver atras
                </a>
            </li>
            <li>{{ form(delete_form) }}</li>
        </ul>
{% endblock %}
