{% extends 'uniMarcaBundle::layout.html.twig' %}

{% block central %}
                
        {% for entity in entities %}                  
            
            <div class="{{'col'~ loop.index}}">                                 
                <h2><a href="{{path('noticias_show',{'id': entity.id} )}}">
                           {{ entity.titulo }}
                    </a></h2>                   
                   <p> {{ entity.contenido | truncate (100)}}  </p>
                   <br> <img src="{{ asset('bundles/unimarca/img/'~ entity.foto  ~ '') }}"/>             
                   <ul>
                    {#<li>
                        <a href="{{ path('noticias_new', { 'id': entity.id }) }}"> New</a>
                    </li>#}
                    <li>
                        <a href="{{ path('noticias_edit', { 'id': entity.id }) }}">Edit</a>
                    </li>
                </ul> 
            </div>
            
        {% endfor %}
        

        <div class="LineaFormulario"></div>                
                        <a href="{{ path('noticias_new') }}"> Create a new entry</a>                             
        </div>
    
{% endblock %}
