{% extends 'uniMarcaBundle::layout.html.twig' %}

{% block central %}
    <h1>categorias list</h1>

    <table class="records_list">
        <thead>
            <tr>                
                <th>Nombre categoria</th>
                <th>Descripcion categoria</th>
                <th>Acciones</th>
            </tr>
        </thead>
        <tbody>
        {% for entity in entities %}
            <tr>
                <td><a href="{{ path('categorias_show', { 'id': entity.id }) }}">{{ entity.nombreCat }}</a></td>                
                <td>{{ entity.descCat }}</td>
                <td>
                <ul>                    
                    <li>
                        <a href="{{ path('categorias_edit', { 'id': entity.id }) }}">edit</a>
                    </li>
                </ul>
                </td>
            </tr>
        {% endfor %}
        </tbody>
    </table>

        <ul>
        <li>
            <a href="{{ path('categorias_new') }}">
                Create a new entry
            </a>
        </li>
    </ul>
    {% endblock %}
